In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import pandas_ta as ta
import matplotlib.pyplot as plt

In [8]:
data = yf.download("TATAMOTORS.NS", start="2012-01-01", end="2024-01-01", progress=False)
data.head(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-01-02,179.029724,183.086212,176.902542,181.997894,176.190002,10175802
2012-01-03,184.273483,192.732742,184.224014,191.891769,185.768158,15868503
2012-01-04,191.792831,200.351028,190.951843,199.064835,192.712311,22752471
2012-01-05,198.817490,203.566544,198.075439,199.955276,193.574341,21640778
2012-01-06,197.877563,202.824509,196.393478,201.439362,195.011047,13553191
2012-01-09,199.707932,200.548904,196.096664,198.471191,192.137619,11603434
2012-01-10,198.866959,204.259109,198.866959,202.923447,196.447784,11914873
2012-01-11,204.011765,205.100098,199.608994,202.725571,196.256226,15624783
2012-01-12,200.845734,207.276749,200.400497,204.011765,197.501373,12188062
2012-01-13,207.919846,210.937485,204.308578,206.584183,199.991699,19211059